body, html {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; /* Stack children horizontally */
    background-color: #f8f8f8;    
    padding: 20px;


}
.profile{
    flex-direction: column;
}

.profile-pic {
    width: 250px; /* Adjust the width as needed */
    height: 250px; /* Adjust the height as needed */
    border-radius: 50%;
    margin-right: 20px; /* Adjust the spacing between the image and text as needed */
    object-fit: cover; /* This will ensure the image covers the area without losing aspect ratio */
}

.intro-text h1 {
    font-size: 2em; /* Adjust the size as needed */
    margin-bottom: 0.5em;
}

.intro-text p {
    font-size: 1.5em; /* Adjust the size as needed */
    color: #666; /* This is a light grey color similar to what's used on Karpathy's site */
}
.timeline {
    
    position: relative;
    padding-left: 400px; /* Increase this value to move the timeline further from the left */
    margin-top: 20px;
}

.timeline-dot {
    position: absolute;
    left: 19.6%;
    background-color: #333; /* Dot color */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: 10px; /* Adjust based on the line height of the date */
}

.timeline-date {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.timeline-content {
    /* margin-left: auto;
    margin-right: auto; */
    max-width: 800px; /* or whatever maximum width you prefer */
    /* justify-content: center; */
    margin-bottom: 40px;
}

.timeline-content h3 {
    font-size: 1.25em;
    margin-top: 0;
}

.timeline-content h4 {
    font-size: 1em;
    color: #666;
    margin-top: 5px;
}
.timeline-content p {
    justify-content: center;

}

/* Optional: Add a line connecting the dots */
.timeline::before {
    content: '';
    position: absolute;
    left: 20%; /* Adjust this value to align with the center of the dots */
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #333; /* Line color */
}

.social-icons {
    /* text-align: center; Center the icons container */
    padding: 0 0; /* Add some padding above and below the icons */
}

.social-icon {
    margin: 0 3px; /* Space out the icons */
    color: #333; /* Icon color */
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.social-icon:hover {
    color: #007bff; /* Color when icon is hovered over */
}

.certifications {
    padding: 20px;
    background-color: #f8f8f8;
    text-align: center;
    
}

.certifications h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.certification-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Creates a responsive grid layout */
    gap: 20px; /* Space between items */
    padding: 0;
    list-style: none;
}

.certification {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.certification img {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    border: 1px solid #ccc; /* A light grey border around the image */
    border-radius: 10px
}
.projects {
    padding: 20px;
    /* background-color: #f8f8f8; */
    text-align: left;
    margin-bottom: 10px; /* Reduced bottom margin */

}

.projects h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.projects ul {
    list-style-type: none;
    padding: 0;
}

.projects li {
    margin-bottom: 15px;
}

.project-title {
    font-weight: bold;
}

.project-technologies {
    font-style: italic;
    color: #666;
}

.project-description {
    color: #333;
    margin-bottom: 10px;
}

.project-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.project-link:hover {
    text-decoration: underline;
}
